@mixin section_results_skeleton($center: "false", $bdr-color: #374151) {
  @if $center =="true" {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  width: 100%;
  height: 100%;
  padding: 1rem;
  border: .1rem solid $bdr-color;
}

.section-results {
  @include section_results_skeleton("true");

  .polynomial-string {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    margin: auto 0;

    .title {
      font-size: 2rem;
      font-weight: 500;
    }

    .polynomial {
      text-align: center;
    }
  }

  .coefficients {
    // flex-box wraping creates to much vertical spacing
    // this is workaround to center and create gaps
    text-align: center;

    .coefficient:not(:last-child) {
      margin-right: .9rem;
    }
  }
}

.section-results-skeleton {
  @include section_results_skeleton("true");

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-results-error {
  @include section_results_skeleton("true", darkred);

  color: darkred;

  .icon {
    width: 7rem;
    height: 7rem;
  }
}
