.page-bisection {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100%;

  .col {
    display: grid;

    &.col-1 {
      grid-template-rows: 75% 25%;

      .box-3 {
        padding: 1rem 0;
      }
    }

    &.col-2 {
      grid-template-rows: 25% 75%;

      .box-2 {
        padding: 1rem;
      }

      .box-4 {
        // z-index: 10000;
      }
    }
  }

  &__function {
    // width: 50vw;
    // height: 50vh;
    // background-color: lightcoral;
  }

  &__given-data {
    // width: 50vw;
    // height: 25vh;
    // background-color: firebrick;
  }
}
