.page-lagrange-interpolation {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100%;

  .col {
    display: grid;

    &.col-1 {
      grid-template-rows: 75% 25%;
    }

    &.col-2 {
      grid-template-rows: 100%;
    }

    .box {
      // background: peru;
      display: flex;
      align-items: center;
      justify-content: center;

      &.box-3 {
        background-color: powderblue;
      }

      &.box-4 {
        // background-color: firebrick;
      }
    }
  }
}
