@use "../../shared/styles/mixins" as *;

.page-lagrange-interpolation {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100%;

  .col {
    display: grid;

    &.col-1 {
      grid-template-rows: 1fr auto;

      .box-1 {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        margin: 1.8rem 0 0 0;

        .inputs-container {

          display: grid;
          grid-template-columns: 1fr auto;
          gap: 0 1.4rem;

          margin: 1.8rem 0 0 0;

          .x-input {
            @include input-style();
            width: fit-content;
            max-width: 5rem;
          }
        }
      }

      .box-3 {
        margin: 1rem 0;
      }
    }

    &.col-2 {
      grid-template-rows: 100%;
    }
  }
}
