.page-lagrange-interpolation {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100%;

  .col {
    display: grid;

    &.col-1 {
      grid-template-rows: 75% 25%;

      .box-1 {
        margin: 1.8rem 0 0 0;
      }
    }

    &.col-2 {
      grid-template-rows: 100%;
    }
  }
}
