@mixin section_results_skeleton($center: "false", $bdr-color: #374151) {
  @if $center =="true" {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  width: 100%;
  height: 100%;
  padding: 1rem;
  border: .1rem solid $bdr-color;
}

.section-results-bisection {
  @include section_results_skeleton;

  display: flex;
  justify-content: space-between;

  .last-iterations {
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }

  .answer {
    // margin-right: 10%;

    .root {
      position: relative;

      display: flex;

      .icon {
        position: absolute;
        left: -2rem;
        top: 0;
      }
    }
  }
}

.section-results-skeleton-bisection {
  @include section_results_skeleton("true");

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-results-error-bisection {
  @include section_results_skeleton("true", darkred);

  color: darkred;

  .icon {
    width: 7rem;
    height: 7rem;
  }
}
