.section-results {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 1rem;
  border: .1rem solid #374151;

  .last-iterations {
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }

  .answer {
    div {
      // white-space: nowrap;
    }
  }
}
