.page-least-squares-approximation {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100%;

  .col {
    display: grid;

    &.col-1 {
      grid-template-rows: 75% 25%;

      .box-1 {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        .inputs-container {
          @mixin input-style {
            height: 3.64rem;
            font-size: 1.8rem;
            line-height: 1.8;
            border: 2px solid #71717a;
            padding: 0 0.8rem;
          }

          display: grid;
          grid-template-columns: 1fr auto;
          gap: 0 1.4rem;

          margin: 1.8rem 0 0 0;

          .points-input {
            @include input-style();
          }

          .degree-input {
            @include input-style();
            width: fit-content;
            max-width: 5rem;
          }
        }

        .degree-container {
          display: flex;

          .degree-input-range {
            width: 100%;
          }
        }
      }

      .box-3 {
        padding: 1rem 0;
      }
    }

    &.col-2 {
      grid-template-rows: 100%;
    }
  }
}
