/* ====== reset css  ============= */
/* ====== reset css  ============= */
/* ====== reset css  ============= */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: transparent;
  outline-offset: 2px;
}

a:focus,
a:active {
  outline: transparent;
  outline-offset: 2px;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 .3rem rgba(107, 114, 128, 1);
  transition: box-shadow 0.2s ease-in-out;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  max-width: 100vw;
  overflow-x: hidden;

  font-family: "grstk peta", sans-serif;

  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li,
menu li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

/* ====== reset css  ============= */
/* ====== reset css  ============= */
/* ====== reset css  ============= */
